body {
    color: #FFFFFF ;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.bg-goldenrod {
    background-color: #fbb617 ;
}

.btn{
    font-weight: bold;
}

/** seccion tarifa **/
#tarifa{
    color: white;
    padding: 7% 0;
}

.input-tarifa{
    font-family: 'Open Sans';
    background-color: transparent;
    margin: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 3px;
    width: 80%;
}

.input-tarifa::-webkit-input-placeholder {
    color: white;
}

#mapa {
    width: 100%;
    height:100%;
}

.border-map{
    height: 400px;
    width: 400px;
    padding: 10px;
    border: 1px solid white;
    float: right;
}

#costo{
    color: black;
    font-size: 32px;
    margin-top: 12px;
}

/** footer **/
footer{
  background-color: #2B2B2B;
  color: white;
  padding: 7% 0;
}

footer > div > div img{
  margin: 7% 0;
	width: 80%;
}

footer a, footer li {
	text-decoration: none !important;
	color: none;
	color: #fff;
}

.icons{
  font-size: 1.5rem;
  margin-right: 10px;
  margin-bottom: 30px;
}

.flex{
  display: flex;
  align-items: flex-start;
}

.reverse{
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  footer > div > div img {
  	width: 70%;
  }

  .flex{
    align-items: flex-end;
  }

  .reverse{
    flex-direction: column;
  }
}
