body {
  color: #FFFFFF ;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.bg-goldenrod {
  background-color: #fbb617 ;
}
.btn{
  font-weight: bold;
}
/** SECCIÓN TARIFA **/
#tarifa{
  color: white;
  padding: 30px;
}
.input-tarifa{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  font-family: 'Open Sans';
  margin: 20px;
  padding: 10px;
  width: 80%;
}
.input-tarifa::-webkit-input-placeholder {
  color: white;
}
#mapa {
  height:100%;
  width: 100%;
}
.border-map{
  border: 1px solid white;
  height: 400px;
  float: right;
  padding: 10px;
  width: 400px;
}
.float-right{
  float: right;
}
#costo{
  color: black;
  font-size: 32px;
  margin-top: 12px;
}
